* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
}

html {
  background-color: antiquewhite;
}

/*                      NAVBAR SECTION */

.navbar {
  /* background-color: rgb(141, 36, 36); */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 160px;
  gap: 150px;
  padding-left: 4rem;
  width: 100%;
  background-image: url('https://www.joan-miro.net/images/paintings/the-farm.jpg');
  background-position: center;
  background-repeat: repeat;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  z-index: 10;
  /* opacity: .3; */
 /* background-position: center; */
 position: fixed;
 top: 0;
}

.navbar__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*                      HOME SECTION */

.images-container {
  /* grid-template-columns: 1fr,1fr,1fr; */
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  margin: 250px auto;
}
img {
  border-radius: 3px;
}

span {
  font-size: 1.2rem;
}

.image-mouse__off {
  width: 400px;
}

.image__paintings {
  width: 300px;
}

/*                      ABOUT SECTION */

h2 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 2rem;
  color: rgb(50, 41, 41);
  margin-top: 170px;

}

article {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 650px;
  gap: 20px;
  text-align: justify;
  color: rgb(50, 41, 41);
  font-size: 1.05rem;
  letter-spacing: 0.7px;
}

.section__image {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image__miro {
  object-fit: contain;
  max-width: 300px;
}

.quote {
  border-radius: 3px;
  font-style: oblique;
  background-color: rgb(246, 192, 135,.3);
  padding: 10px;
  font-size: .8rem;
  width: 96%;
  color: rgb(15, 12, 12);
}

.quote:hover {
  width: 110%;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: rgb(247, 218, 100);
  color: rgb(75, 70, 70);
  font-weight: bold;
  border-radius: 0;
  transition-delay: 0.3s;
}

.quote__end {
 text-align: end;
}

/*                      CONTACT SECTION */

.contact-container{
  margin-top: 170px;
}

