* {

}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  text-decoration: none;
  height: 50px;
 gap: 50px;
 margin-left: 1rem;
}

.navbar__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(141, 36, 36);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
