* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.navbar {
  /* background-color: rgb(141, 36, 36); */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 160px;
  gap: 150px;
  padding-left: 4rem;
  width: 100%;
  background-image: url('https://www.joan-miro.net/images/paintings/the-farm.jpg');
  background-position: center;
  background-repeat: repeat;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.navbar__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


